## Teste de Estatística Básica

In [1]:
# Importando as bibliotecas necessárias

import numpy as np
import pandas as pd

from scipy import stats

In [2]:
# Carregando o dataframe
df = pd.read_csv("bases/grades.csv")
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
# Verificando a quantidade de linhas e colunas
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [4]:
# Dividindo o dataframe - 
# Selecionando os participantes com submissão até 2016
early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [5]:
# Coletando os participantes restantes
# Trazendo os partici. com indices diferentes dos early finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [6]:
# Verificando a média dos dois grupos
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [7]:
# Importando a função que possibilitará os testes
from scipy.stats import ttest_ind

In [8]:
# Verificando a probabilidade nas 1ª notas dos dois grupos
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [9]:
# Verificando as outras notas dos dois grupos
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [10]:
# Criando um dataframe contendo cem números aleatórios
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.619473,0.278270,0.010899,0.100296,0.719873,0.534950,0.249123,0.650305,0.458935,0.072784,...,0.615213,0.097308,0.452951,0.741494,0.682799,0.488790,0.682626,0.505008,0.013848,0.596732
1,0.590841,0.727342,0.572755,0.798364,0.660363,0.425661,0.142481,0.335806,0.596360,0.458256,...,0.003908,0.337262,0.654028,0.135819,0.685167,0.516870,0.684653,0.719052,0.416588,0.202139
2,0.910149,0.527596,0.179482,0.942451,0.333738,0.552019,0.524203,0.319492,0.871403,0.398281,...,0.533309,0.939883,0.110832,0.907073,0.642192,0.233662,0.745116,0.847589,0.952235,0.240155
3,0.365093,0.718406,0.260513,0.494762,0.277458,0.852883,0.307274,0.356000,0.386555,0.512017,...,0.374368,0.444896,0.171702,0.325990,0.155552,0.592531,0.948323,0.786306,0.720555,0.567527
4,0.776256,0.110939,0.545817,0.139690,0.574042,0.977964,0.667025,0.931411,0.945708,0.450227,...,0.901228,0.609254,0.944824,0.994096,0.821595,0.515015,0.265979,0.218332,0.717971,0.772684

In [11]:
# Criando o segundo dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [12]:
# Criando uma função para comparar os valores de cada um dos dataframes

def test_columns(alpha=0.1):
    # Número de valores diferentes
    num_diff=0
    
    for col in df1.columns:
        # Verificando a diferença (valor de p)
        teststat,pval=ttest_ind(df1[col],df2[col])
        
        # Comparando o valor de p e o alfa (valor limite)
        if pval<=alpha:
            # Imprimindo as instâncias diferentes
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
            
    # Verificando o total de instâncias diferentes
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))


test_columns()

Col 16 is statistically significantly different at alpha=0.1, pval=0.05964820068964459
Col 28 is statistically significantly different at alpha=0.1, pval=0.01344676352319281
Col 31 is statistically significantly different at alpha=0.1, pval=0.05159624412742454
Col 32 is statistically significantly different at alpha=0.1, pval=0.09815421081018885
Col 36 is statistically significantly different at alpha=0.1, pval=0.05827584575534463
Col 42 is statistically significantly different at alpha=0.1, pval=0.03183236772808734
Col 49 is statistically significantly different at alpha=0.1, pval=0.06933655415706741
Col 55 is statistically significantly different at alpha=0.1, pval=0.049189128776552314
Col 58 is statistically significantly different at alpha=0.1, pval=0.044608829963667614
Col 59 is statistically significantly different at alpha=0.1, pval=0.04913521849744504
Col 61 is statistically significantly different at alpha=0.1, pval=0.0037638053880469677
Col 63 is statistically significantly different at alpha=0.1, pval=0.009584931088797089
Col 64 is statistically significantly different at alpha=0.1, pval=0.006840501586621572
Col 70 is statistically significantly different at alpha=0.1, pval=0.04139135606592137
Col 71 is statistically significantly different at alpha=0.1, pval=0.06944829093427587
Col 75 is statistically significantly different at alpha=0.1, pval=0.08238649195805822
Col 87 is statistically significantly different at alpha=0.1, pval=0.04899922582038599
Col 88 is statistically significantly different at alpha=0.1, pval=0.07776921594238229
Total number different was 18, which is 18.0%

In [13]:
# Verificando as instâncias diferentes para o valor de alfa igual a 5%
test_columns(0.05)

Col 28 is statistically significantly different at alpha=0.05, pval=0.01344676352319281
Col 42 is statistically significantly different at alpha=0.05, pval=0.03183236772808734
Col 55 is statistically significantly different at alpha=0.05, pval=0.049189128776552314
Col 58 is statistically significantly different at alpha=0.05, pval=0.044608829963667614
Col 59 is statistically significantly different at alpha=0.05, pval=0.04913521849744504
Col 61 is statistically significantly different at alpha=0.05, pval=0.0037638053880469677
Col 63 is statistically significantly different at alpha=0.05, pval=0.009584931088797089
Col 64 is statistically significantly different at alpha=0.05, pval=0.006840501586621572
Col 70 is statistically significantly different at alpha=0.05, pval=0.04139135606592137
Col 87 is statistically significantly different at alpha=0.05, pval=0.04899922582038599
Total number different was 10, which is 10.0%

In [14]:
# Verificando para um novo dataframe com ki quadrado
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.00032426198412476557
Col 1 is statistically significantly different at alpha=0.1, pval=0.002581043049311301
Col 2 is statistically significantly different at alpha=0.1, pval=0.013637157930671091
Col 3 is statistically significantly different at alpha=0.1, pval=0.00592084468571404
Col 4 is statistically significantly different at alpha=0.1, pval=0.0033769177932544275
Col 5 is statistically significantly different at alpha=0.1, pval=0.0013083574506158936
Col 6 is statistically significantly different at alpha=0.1, pval=3.0224881646011118e-05
Col 7 is statistically significantly different at alpha=0.1, pval=0.0001404849319980079
Col 8 is statistically significantly different at alpha=0.1, pval=0.004566143654591028
Col 9 is statistically significantly different at alpha=0.1, pval=0.0008335838143682566
Col 10 is statistically significantly different at alpha=0.1, pval=0.008915221810799701
Col 11 is statistically significantly different at alpha=0.1, pval=0.0003699063451911261
Col 12 is statistically significantly different at alpha=0.1, pval=0.0006396549975353296
Col 13 is statistically significantly different at alpha=0.1, pval=0.0050331229227232955
Col 14 is statistically significantly different at alpha=0.1, pval=0.0005362247143940515
Col 15 is statistically significantly different at alpha=0.1, pval=0.006238778779041685
Col 16 is statistically significantly different at alpha=0.1, pval=0.0025263856941475154
Col 17 is statistically significantly different at alpha=0.1, pval=0.00045359601178038896
Col 18 is statistically significantly different at alpha=0.1, pval=3.2019809624988245e-07
Col 19 is statistically significantly different at alpha=0.1, pval=0.0001749507042879329
Col 20 is statistically significantly different at alpha=0.1, pval=0.0007139514515200496
Col 21 is statistically significantly different at alpha=0.1, pval=0.0004062118246908229
Col 22 is statistically significantly different at alpha=0.1, pval=0.0040791511783547256
Col 23 is statistically significantly different at alpha=0.1, pval=0.010085273525356021
Col 24 is statistically significantly different at alpha=0.1, pval=0.014026531209041062
Col 25 is statistically significantly different at alpha=0.1, pval=2.6454577317512197e-05
Col 26 is statistically significantly different at alpha=0.1, pval=0.013683426150778265
Col 27 is statistically significantly different at alpha=0.1, pval=1.0585620227496936e-05
Col 28 is statistically significantly different at alpha=0.1, pval=0.004478904739852928
Col 29 is statistically significantly different at alpha=0.1, pval=0.0005719513027645158
Col 30 is statistically significantly different at alpha=0.1, pval=0.0005426039638737612
Col 31 is statistically significantly different at alpha=0.1, pval=0.0072672261436576855
Col 32 is statistically significantly different at alpha=0.1, pval=6.528008937389663e-05
Col 33 is statistically significantly different at alpha=0.1, pval=1.8638398823269074e-05
Col 34 is statistically significantly different at alpha=0.1, pval=0.000149119006865425
Col 35 is statistically significantly different at alpha=0.1, pval=0.001255437385309212
Col 36 is statistically significantly different at alpha=0.1, pval=1.3484291646442407e-05
Col 37 is statistically significantly different at alpha=0.1, pval=6.272037713699638e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.00021751573236794845
Col 39 is statistically significantly different at alpha=0.1, pval=0.002084045850221802
Col 40 is statistically significantly different at alpha=0.1, pval=1.3392155750513057e-06
Col 41 is statistically significantly different at alpha=0.1, pval=0.004621932269861337
Col 42 is statistically significantly different at alpha=0.1, pval=0.0004926484528046422
Col 43 is statistically significantly different at alpha=0.1, pval=0.0011994096019801272
Col 44 is statistically significantly different at alpha=0.1, pval=7.452959248089195e-06
Col 45 is statistically significantly different at alpha=0.1, pval=0.0020276642687698976
Col 46 is statistically significantly different at alpha=0.1, pval=3.459998456746165e-06
Col 47 is statistically significantly different at alpha=0.1, pval=0.00019021339697898487
Col 48 is statistically significantly different at alpha=0.1, pval=6.57818591455498e-05
Col 49 is statistically significantly different at alpha=0.1, pval=0.000189305167925333
Col 50 is statistically significantly different at alpha=0.1, pval=4.377033938047686e-07
Col 51 is statistically significantly different at alpha=0.1, pval=0.0009990278411528644
Col 52 is statistically significantly different at alpha=0.1, pval=0.0004743474611709923
Col 53 is statistically significantly different at alpha=0.1, pval=0.00046474849430953185
Col 54 is statistically significantly different at alpha=0.1, pval=0.0008305983327175149
Col 55 is statistically significantly different at alpha=0.1, pval=6.098809260865615e-05
Col 56 is statistically significantly different at alpha=0.1, pval=0.00030353753738421974
Col 57 is statistically significantly different at alpha=0.1, pval=0.00012707083036454667
Col 58 is statistically significantly different at alpha=0.1, pval=0.005323918093048657
Col 59 is statistically significantly different at alpha=0.1, pval=0.00029617029640302875
Col 60 is statistically significantly different at alpha=0.1, pval=0.000780140785576811
Col 61 is statistically significantly different at alpha=0.1, pval=0.015516984329740403
Col 62 is statistically significantly different at alpha=0.1, pval=0.0013147686552518547
Col 63 is statistically significantly different at alpha=0.1, pval=6.94548988567623e-05
Col 64 is statistically significantly different at alpha=0.1, pval=2.8864878300472146e-05
Col 65 is statistically significantly different at alpha=0.1, pval=0.0009943616270941104
Col 66 is statistically significantly different at alpha=0.1, pval=1.59369536459618e-05
Col 67 is statistically significantly different at alpha=0.1, pval=0.0002947459360171747
Col 68 is statistically significantly different at alpha=0.1, pval=0.0013688892183963389
Col 69 is statistically significantly different at alpha=0.1, pval=0.0005231844605471085
Col 70 is statistically significantly different at alpha=0.1, pval=1.2562744470278548e-05
Col 71 is statistically significantly different at alpha=0.1, pval=0.006424373011112024
Col 72 is statistically significantly different at alpha=0.1, pval=0.0045433848702076994
Col 73 is statistically significantly different at alpha=0.1, pval=0.00035530600607173795
Col 74 is statistically significantly different at alpha=0.1, pval=0.0006102011374904046
Col 75 is statistically significantly different at alpha=0.1, pval=0.0007247785813767093
Col 76 is statistically significantly different at alpha=0.1, pval=0.004153400073883017
Col 77 is statistically significantly different at alpha=0.1, pval=4.941693240989844e-07
Col 78 is statistically significantly different at alpha=0.1, pval=0.0008958850065558668
Col 79 is statistically significantly different at alpha=0.1, pval=0.0017438826094925838
Col 80 is statistically significantly different at alpha=0.1, pval=0.0028790237117346574
Col 81 is statistically significantly different at alpha=0.1, pval=0.002428853913363364
Col 82 is statistically significantly different at alpha=0.1, pval=0.00040570862594492774
Col 83 is statistically significantly different at alpha=0.1, pval=3.493800045612016e-05
Col 84 is statistically significantly different at alpha=0.1, pval=0.00013503463430573337
Col 85 is statistically significantly different at alpha=0.1, pval=3.227260783085082e-06
Col 86 is statistically significantly different at alpha=0.1, pval=0.008189080904056265
Col 87 is statistically significantly different at alpha=0.1, pval=1.5863077947204433e-05
Col 88 is statistically significantly different at alpha=0.1, pval=0.003547005660802746
Col 89 is statistically significantly different at alpha=0.1, pval=1.8171473381019343e-05
Col 90 is statistically significantly different at alpha=0.1, pval=0.00014717754233943334
Col 91 is statistically significantly different at alpha=0.1, pval=0.00022971922844785455
Col 92 is statistically significantly different at alpha=0.1, pval=0.0005828396532670318
Col 93 is statistically significantly different at alpha=0.1, pval=0.0006147621457850032
Col 94 is statistically significantly different at alpha=0.1, pval=0.004464302838227843
Col 95 is statistically significantly different at alpha=0.1, pval=0.0018976509134518383
Col 96 is statistically significantly different at alpha=0.1, pval=6.584348729782468e-05
Col 97 is statistically significantly different at alpha=0.1, pval=0.06541588785027355
Col 98 is statistically significantly different at alpha=0.1, pval=1.1269399891611954e-05
Col 99 is statistically significantly different at alpha=0.1, pval=0.004407507438343587
Total number different was 100, which is 100.0%